* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
body {
    background: rgb(235, 235, 235);
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
}

section {
    display: block;
    max-width: 100%;
}

header {
    width: 100%;
    /*
    height: 100vh;
    background: url(../image/philosophy.jpg) no-repeat 50% 50%;
    */
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo img {
    max-height: 7vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1049;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

#main-slider {
    overflow-y: hidden;
    max-height: 50rem;
    max-height: 100vh;
}

#carouselExampleFade {
    max-height: 100%;
}

.carousel-inner {
    position: relative;
    height: 100%;
}

.carousel-item {
    max-height: 100%;
}

.corousel-inner img {
    height: 100%;
    width: 100%;
}

#main-slider a {
    max-height: 80rem;
}

#main-slider img {
    max-height: 100vh;
}

#presention {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding: 5rem;
    overflow-y: hidden;
}

.presention-card {
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 10px;
    max-width: 25rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.present-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 2em;
    width: 100%;
    font-weight: bolder;
}

.present-header h3 {
    padding-right: 0;
}

.present-cont-head {
    text-align: center;
    padding: 2em 2em 0 2em;
}

.present-cont-head:first-letter {
    text-transform: capitalize;
}

.present-content {
    padding: 2em 2em 2em 2em;
}

#map {
    position: relative;
    background-color: #104179;
}

.list-group-item.list-group-item-action.active {
    background-color: #104179;
}

#map svg {
    height: 800pt;
    ;
}

#map g {
    border: 2px solid red;
}

svg path {
    border: 1px solid red;
}

.card {
    position: absolute !important;
    display: none !important;
    background-color: rgba(235, 235, 235, 0.7) !important;
    -webkit-box-shadow: -10px 10px 20px -5px #000000;
    box-shadow: -10px 10px 20px -5px #000000;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.card-peak {
    display: block !important;
}

.card .btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(16, 65, 121, 0.5);
    z-index: 2;
}

.card .btn {
    float: right;
    background-color: #104179;
}

.card-img-top {
    max-height: 10rem;
}

.card .carousel {
    height: 165px;
}

.card .carousel-inner .carousel-item img {
    height: 165px;
    width: 100%;
}

.card .carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    border: none;
    background: none;
}

#africa-pop {
    top: 45%;
    left: 40%;
}

#asia-pop {
    right: 10%;
    top: 10%;
}

#oceania-pop {
    right: 20%;
    top: 50%;
}

#europe-pop {
    top: 5%;
    left: 40%;
}

#south-america-pop {
    left: 15%;
    top: 50%;
}

#north-america-pop {
    left: 5%;
    top: 10%;
}

#africa {
    color: red;
}

#contents {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.leak {
    margin-top: 0;
    background-image: url('../image/leak.svg');
    height: 78px;
}

#tab-content {
    margin: 20rem 0 20rem 0;
    min-height: 400px;
}

#tab-content .tab-content {
    max-height: 40rem;
}

#tab-content .tab-pane {
    max-height: 25rem;
}

.top-zigzag,
.bottom-zigzag {
    background: red;
    background-image: url('../image/zigzag2.png');
}

#footer {
    background-color: black;
    color: white;
}

#footer-first-row,
#footer-second-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    margin: 4rem;
}

#footer-logo {
    display: flex;
    align-items: center;
}

#footer-logo img {
    display: block;
    margin: auto;
    height: 75%;
    width: 75%;
}

#social-media-header {
    border-bottom: 4px white solid;
}

.social-media-btn a {
    text-decoration: none;
    color: white;
}

.social-link {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social-media-btn a:hover {
    /*color: #     ;*/
    color: #104179;
}

.footer-send-btn-pstn {
    display: flex;
    justify-content: flex-end;
}

.footer-send-btn-pstn button {
    max-width: 100%;
}

#footer-second-row h4 {
    color: white;
    border-bottom: 4px white solid;
}

.contact-info {
    padding: 1em;
    float: left;
}

.contact-info-cont {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.contact-info-cont p,
i {
    margin-left: 1rem;
}

.touch {
    margin-top: 1rem;
}

.touch button {
    float: right;
}

.signature {
    margin-top: 2rem;
}

.signature a {
    color: white;
}

.signature a:hover {
    color: grey;
}

@media (max-width:595px) {
    #address {
        margin-top: -20px;
    }
}

@media (max-width:1493px) {
    #address {
        margin-top: -20px;
    }
}

.slope-up {
    height: 5rem;
    background: #062A5F;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.slope-down {
    background: #062A5F;
    height: 5rem;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.general-word {
    display: block;
    height: 30rem;
    width: 100%;
    background: #104179;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
}

.general-word img {
    margin-top: 2rem;
    max-width: 100%;
    max-height: 75%;
    color: white;
    z-index: 12;
}

.word {
    font-family: 'Sorts Mill Goudy', serif;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.w-trailer {
    text-align: center;
    margin-top: 35%;
    margin-bottom: auto;
}

.w-trailer p {
    margin: 1rem;
    float: right;
    font-weight: 650;
}

#first-quotes {
    text-align: end;
    margin-top: 35%;
    font-size: 800%;
}

#second-quotes {
    padding-left: 2rem;
    text-align: start;
    margin-top: 80%;
    font-size: 800%;
    overflow-y: hidden;
}

@media(max-width: 1800px) {
    .w-trailer {
        text-align: center;
        margin-top: 40%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 40%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 85%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width: 1600px) {
    .w-trailer {
        text-align: center;
        margin-top: 45%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 45%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 90%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width: 1300px) {
    .w-trailer {
        text-align: center;
        margin-top: 50%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 50%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 95%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width: 1100px) {
    .w-trailer {
        text-align: center;
        margin-top: 60%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 60%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 105%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width: 992px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 65% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 65% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 110% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media(max-width: 900px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 80% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 80% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 125%!important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media(max-width: 800px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 90% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 90% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 135% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media(max-width: 700px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 100% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 100% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 145% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media(max-width: 600px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 160% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 160% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 400% !important;
        margin-left: -30%;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
    .general-word img {
        margin-top: 60%;
    }
}

@media(max-width: 500px) and (min-width:500px) {
    .w-trailer {
        overflow-y: hidden !important;
        text-align: center !important;
        margin-top: 200% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        overflow-y: hidden !important;
        text-align: end !important;
        margin-top: 120% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        overflow-y: hidden !important;
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 165% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media (max-width:576px) {
    .social-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #address {
        margin-top: -18px;
    }
}

.article {
    margin: 4rem;
}

.wrapper {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-height: 100%;
}

.content-header {
    border-bottom: 1px solid;
    padding: 2rem;
    width: 100%;
}

.content-header h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    font-weight: bolder;
}

.article-content {
    padding: 2rem;
}

.article-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 22;
    -webkit-box-orient: vertical;
}

.article-content h5 {
    text-align: center;
}

.read-more {
    float: right;
}

.read-more a {
    text-decoration: none;
    color: black;
}

.read-more a:hover {
    text-decoration: underline;
}

#separator {
    border: 2px solid white;
    width: 100%;
}

.holding-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40rem;
    width: 100%;
    background-image: url(../image/sky.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    place-items: center;
}

.holding-image img {
    height: 400px;
    width: 400px;
}

.holding-image h1 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    color: #104179;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: center;
    height: 20%;
}

#who-we-r {
    margin: 0 5rem 0 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#who-we-r .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem 0 4rem;
}

#who-we-r .top img {
    max-height: 15rem;
    max-width: 15rem;
}

#who-we-r .mid {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    width: 75rem;
    text-indent: 5rem;
}

#who-we-r .bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 0 4rem;
}

#who-we-r .bottom .reach-us {
    flex: 1;
    margin-left: 5rem;
}

#who-we-r .bottom .sponsors {
    flex: 1;
}

.sponsors {
    text-align: center;
}

.owl-carousel .item {
    display: flex;
    align-items: center;
    height: 5rem;
}

.owl-carousel .item img {
    margin: auto;
    max-height: 5rem;
    max-width: 5rem;
}

.owl-stage-outer {
    max-height: 5rem;
}

@media(max-width: 1200px) {
    .social-media-btn {
        font-size: 75%;
    }
    .social-link {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .w-trailer {
        text-align: center;
        margin-top: 55%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 55%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 100%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width:768px) {
    #main-slider {
        max-height: 50vh;
    }
    #presention {
        margin: 1rem !important;
        display: flex;
        flex-direction: column;
        margin: 0 i !important;
        padding: 0 !important;
    }
    .social-link {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: auto !important;
        grid-row-gap: 1rem;
    }
    #start-card {
        margin-bottom: 1rem;
    }
    .presention-card {
        width: 100%;
    }
    #footer-second-row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 15px;
        margin-left: 30px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon svg {
        margin-top: 14px;
    }
    #main-slider {
        margin-top: 5.5rem;
        overflow-y: hidden;
    }
    #main-slider img {
        min-height: 60vh;
        max-height: 60vh;
    }
    .column-order:nth-child(1) {
        order: 2;
    }
    .column-order:nth-child(2) {
        order: 1;
        margin-bottom: 1rem;
    }
    .w-trailer {
        text-align: center;
        margin-top: 60%;
        margin-bottom: auto;
    }
    .col-xxl-7.col-md-9 {
        height: 350px;
    }
    #first-quotes {
        text-align: end;
        margin-top: 60%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 85%;
        font-size: 800%;
        overflow-y: hidden;
    }
    #footer-first-row,
    #footer-second-row {
        margin: 1rem;
    }
    .footer-send-btn-pstn {
        display: grid;
        grid-template-columns: 1fr;
    }
    #footer-logo img {
        display: block;
        margin: auto;
        /*
        height: 64%;
        width: 75%;
        */
        height: 90px;
        width: 90px;
    }
    .article {
        margin: 1rem !important;
    }
    .cutom-modal {
        margin-top: 300px;
    }
    .holding-image {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2, 1fr);
    }
    .holding-image img {
        height: 200px !important;
        width: 200px !important;
    }
    .holding-image h1 {
        margin: 0;
    }
    #contents {
        padding: 1rem;
        height: 0;
    }
    #tab-content {
        margin: 1rem;
        max-height: 800px;
    }
    #tab-content .col-xxl-7 {
        margin-top: 1rem;
    }
    #map {
        min-height: 24rem;
        overflow-y: hidden;
    }
    #map svg {
        margin: 0;
        height: 24rem;
        width: 27.5rem;
        margin-left: -30px;
    }
    #africa-pop,
    #asia-pop,
    #oceania-pop,
    #europe-pop,
    #south-america-pop,
    #north-america-pop {
        top: 1%;
        right: 0%;
        bottom: 0;
        left: 11%;
    }
    #who-we-r {
        margin: 0 1rem 0 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    #who-we-r .top {
        display: flex;
        flex-direction: column;
    }
    #who-we-r .top img {
        margin-left: -50px;
        margin: 0;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
        text-indent: 2rem;
        text-align: justify;
        text-justify: inter-word;
    }
    #who-we-r .bottom {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #who-we-r .bottom .reach-us {
        flex: 1;
        margin: 1rem 0 1rem 0;
        order: 2;
        text-align: center;
    }
    #who-we-r .bottom .sponsors {
        flex: 1;
        order: 1;
    }
    .owl-carousel .item {
        display: flex;
        align-items: center;
        height: 5rem;
    }
    .owl-carousel .item img {
        margin: auto;
        max-height: 5rem;
        max-width: 5rem;
    }
    .owl-stage-outer {
        max-height: 5rem;
    }
}