* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
body {
    background: rgb(235, 235, 235);
    padding: 0;
}


/*******ANIMATIONS***********/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 1;
}


/***********ANIMTIONS**********/

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
}

section {
    display: block;
    max-width: 100%;
}

header {
    width: 100%;
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo img {
    max-height: 7vh;
    min-height: 7vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1049;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 20px 40px 0 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: gray;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

#main-slider {
    overflow-y: hidden;
    max-height: 50rem;
    max-height: 100vh;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

#carouselExampleFade {
    max-height: 100%;
}

.carousel-inner {
    position: relative;
    height: 100%;
}

.carousel-item {
    max-height: 100%;
}

.corousel-inner img {
    height: 100%;
    width: 100%;
}

#main-slider a {
    max-height: 80rem;
}

#main-slider img {
    min-height: 100vh;
    max-height: 100vh;
}

#presention {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding: 5rem;
    overflow-y: hidden;
    background-image: url("../image/castle-ripped.jpg"), url("../image/discovery-ripped.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 17%, 83%;
}

#start-card {
    animation: slideInFromLeft .5s ease-in;
    -webkit-animation: slideInFromLeft .5s ease-in;
}

#end-card {
    animation: slideInFromRight .5s ease-in;
    -webkit-animation: slideInFromRight .5s ease-in;
}

.presention-card a {
    color: #212529;
    text-decoration: none;
}

.presention-card {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 10px;
    max-width: 25rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: opacity .3s !important;
    -webkit-transition: opacity .3s !important;
    -moz-transition: opacity .3s !important;
    -ms-transition: opacity .3s !important;
    -o-transition: opacity .3s !important;
}

.presention-card:hover {
    color: #212529;
    opacity: 1;
}

.presention-card:hover a {
    color: #212529;
}

.present-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 2em;
    width: 100%;
    font-weight: bolder;
}

.present-header h3 {
    padding-right: 0;
}

.present-cont-head {
    text-align: center;
    padding: 2em 2em 0 2em;
}

.present-cont-head:first-letter {
    text-transform: capitalize;
}

.present-content {
    padding: 2em 2em 2em 2em;
}

#map {
    position: relative;
    background-color: #104179;
}

.list-group-item.list-group-item-action.active {
    background-color: #104179;
}

.list-group-item.list-group-item-action.active:hover {
    background-color: #104179;
}

.list-group-item.list-group-item-action:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

#map svg {
    height: 800pt;
    ;
}

#map g {
    border: 2px solid red;
}

svg path {
    border: 1px solid red;
}

.card {
    position: absolute !important;
    display: none !important;
    background-color: rgba(235, 235, 235, 0) !important;
    -webkit-box-shadow: -10px 10px 20px -5px #000000;
    box-shadow: -10px 10px 20px -5px #000000;
}

.card-peak {
    display: block !important;
    background-color: rgba(235, 235, 235, 0.9) !important;
    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -ms-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
}

.card .btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(16, 65, 121, 0.9);
    z-index: 2;
}

.card .btn {
    float: right;
    background-color: #104179;
}

.card-img-top {
    max-height: 10rem;
}

.card .carousel {
    height: 165px;
}

.card .carousel-inner .carousel-item img {
    height: 165px;
    width: 100%;
}

.card .carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    border: none;
    background: none;
}

#africa-pop {
    top: 45%;
    left: 40%;
}

#asia-pop {
    right: 10%;
    top: 10%;
}

#oceania-pop {
    right: 20%;
    top: 50%;
}

#europe-pop {
    top: 5%;
    left: 40%;
}

#south-america-pop {
    left: 15%;
    top: 50%;
}

#north-america-pop {
    left: 5%;
    top: 10%;
}

#africa {
    color: red;
}

#contents {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.leak {
    margin-top: 0;
    background-image: url('../image/leak.svg');
    height: 78px;
}

#tab-content {
    margin: 10rem 5rem 10rem 5rem;
    min-height: 400px;
}

#tab-content .tab-content {
    max-height: 40rem;
}

#tab-content .col-xxl-4 .list-group-item.list-group-item-action {
    text-align: center;
}

#tab-content .tab-pane {
    max-height: 25rem;
    min-height: 25rem;
}

.top-zigzag,
.bottom-zigzag {
    background: red;
    background-image: url('../image/zigzag2.png');
}

#footer {
    background-color: black;
    color: white;
}

#footer-first-row,
#footer-second-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    margin: 4rem;
}

#footer-logo {
    display: flex;
    align-items: center;
}

#footer-logo img {
    display: block;
    margin: auto;
    height: 75%;
    width: 75%;
}

#social-media-header {
    border-bottom: 4px white solid;
}

.social-media-btn a {
    text-decoration: none;
    color: white;
}

.social-link {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social-media-btn a:hover {
    /*color: #     ;*/
    color: #104179;
}

.footer-send-btn-pstn {
    display: flex;
    justify-content: flex-end;
}

.footer-send-btn-pstn button {
    max-width: 100%;
}

#footer-second-row h4 {
    color: white;
    border-bottom: 4px white solid;
}

.contact-info {
    padding: 1em;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    height: auto;
}

.contact-info-cont p {
    text-align: left;
    margin: 0;
    white-space: wrap;
}

.contact-info-cont a {
    display: inline-block;
    color: white;
}

.contact-info-cont a:hover {
    color: grey;
}

.touch {
    margin-top: 1rem;
}

.touch button {
    float: right;
}

.signature {
    margin-top: 2rem;
}

.slope-up {
    height: 5rem;
    background: #062A5F;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.slope-down {
    background: #062A5F;
    height: 5rem;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.general-word {
    display: block;
    height: 30rem;
    width: 100%;
    background: #104179;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);
}

.general-word img {
    margin-top: 2rem;
    max-width: 100%;
    max-height: 75%;
    color: white;
    z-index: 12;
}

.word {
    font-family: 'Sorts Mill Goudy', serif;
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.w-trailer {
    text-align: center;
    margin-top: 35%;
    margin-bottom: auto;
}

.w-trailer p {
    margin: 1rem;
    float: right;
    font-weight: 650;
}

#first-quotes {
    text-align: end;
    margin-top: 35%;
    font-size: 800%;
}

#second-quotes {
    padding-left: 2rem;
    text-align: start;
    margin-top: 80%;
    font-size: 800%;
    overflow-y: hidden;
}

.article {
    margin: 0 4rem 0 4rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.article .content-header h1 {
    color: white;
}

#ow-head,
#nw-head {
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #104179;
    width: 100%;
    -moz-text-decoration-color: #104179;
}

#ow-head::before,
#nw-head::before {
    display: block;
    margin-right: 1rem;
    content: '';
    min-width: 70vh;
    max-width: 70vh;
    min-height: 100%;
    background-image: linear-gradient(135deg, #104179 27.03%, #ffffff 27.03%, #ffffff 50%, #104179 50%, #104179 77.03%, #ffffff 77.03%, #ffffff 100%);
    background-size: 52.33px 52.33px;
}

#ow-head::after,
#nw-head::after {
    display: block;
    margin-left: 1rem;
    content: '';
    min-width: 70vh;
    max-width: 70vh;
    min-height: 100%;
    background-image: linear-gradient(135deg, #104179 27.03%, #ffffff 27.03%, #ffffff 50%, #104179 50%, #104179 77.03%, #ffffff 77.03%, #ffffff 100%);
    background-size: 52.33px 52.33px;
}

#africa-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/africau.jpg");
    background-size: cover;
    background-position: center;
}

#asia-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/asiau.jpg");
    background-size: cover;
    background-position: center;
}

#europe-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/galleonu.jpg");
    background-size: cover;
    background-position: center;
}

#oceania-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/oceaniau.jpg");
    background-size: cover;
    background-position: center;
}

#south-america-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/south-americau.jpg");
    background-size: cover;
    background-position: center;
}

#north-america-article .content-header {
    background-image: linear-gradient(100deg, #00000088 0%, #ffffff66 100%), url("../image/nycu.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-height: 100%;
    width: 100%;
}

.content-header {
    border-bottom: 1px solid;
    padding: 2rem;
    width: 100%;
}

.content-header h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    font-weight: bolder;
}

#old-world,
#new-world {
    padding: 2rem 0 2rem 0;
}

.article-content {
    padding: 2rem;
}

.article-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 22;
    -webkit-box-orient: vertical;
}

.article-content h5 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.article-content h5::before {
    content: ' ';
    margin-right: 1rem;
    display: block;
    min-width: 5px;
    max-width: 5px;
    min-height: 20px;
    max-height: 100%;
    background-color: #104179;
}

.article-content h5::after {
    content: ' ';
    margin-left: 1rem;
    display: block;
    min-width: 5px;
    max-width: 5px;
    min-height: 20px;
    max-height: 100%;
    background-color: #104179;
}

.read-more {
    float: right;
}

.read-more a {
    text-decoration: none;
    color: black;
}

.read-more a:hover {
    text-decoration: underline;
}

#separator {
    border: 2px solid white;
    width: 100%;
}

.holding-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40rem;
    width: 100%;
    background-image: url(../image/sky.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    place-items: center;
}

.holding-image img {
    max-height: 30rem;
    max-width: 30rem;
}

.holding-image h1 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    color: #104179;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: center;
    height: 20%;
}

#who-we-r {
    margin: 5rem 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    -webkit-box-shadow: -10px 15px 20px -5px #000000;
    box-shadow: -10px 15px 20px -5px #000000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#who-we-r .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem 0 4rem;
}

#who-we-r .top .title {
    display: flex;
}

#who-we-r .top .title .left-line {
    min-height: 100%;
    width: 10px;
    background-color: #104179;
}

#who-we-r .top .title h1 {
    margin: 0 0 0 1rem;
}

#who-we-r .top img {
    max-height: 15rem;
    max-width: 15rem;
}

#who-we-r .mid {
    width: 100%;
    height: 100%;
}

#who-we-r p {
    display: flex;
    align-items: center;
    margin: 0 0 0 15rem;
    width: 75rem;
    text-indent: 5rem;
}

.flex-pos {
    display: flex;
    justify-content: flex-end;
}

.interruption {
    display: block;
    float: right;
    margin-right: 15rem;
    padding: 0;
    min-height: .2rem;
    min-width: 20rem;
    background-color: #104179;
    animation: 1s ease-in-out 0s 1 slideInFromRight;
    -webkit-animation: 1s ease-in-out 0s 1 slideInFromRight;
}

#who-we-r .bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 0 4rem;
}

#who-we-r .bottom .reach-us {
    flex: 1;
    margin-left: 5rem;
}

#who-we-r .bottom .reach-us h4 a {
    color: black;
}

#who-we-r .bottom .reach-us h4 a:hover {
    color: grey;
}

#who-we-r .bottom .sponsors {
    flex: 1;
    text-align: center;
    overflow: hidden;
}

.owl-carousel .item {
    display: flex;
    align-items: center;
    height: 5rem;
}

.owl-item {
    z-index: 500000;
}

.owl-carousel .item img {
    margin: auto;
    max-height: 5rem;
    max-width: 5rem;
}

.owl-stage-outer {
    max-height: 5rem;
    margin-bottom: 0;
}

@media(max-width: 1800px) {
    .w-trailer {
        text-align: center;
        margin-top: 40%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 40%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 85%;
        font-size: 800%;
        overflow-y: hidden;
    }
}

@media(max-width: 1600px) {
    #presention {
        background-size: 35%;
        background-position: 17%, 83%;
    }
    .w-trailer {
        text-align: center;
        margin-top: 45%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 45%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 90%;
        font-size: 800%;
        overflow-y: hidden;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
}

@media(max-width:1500px) {}

@media (max-width:1493px) {
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
}

@media(max-width: 1400px) {
    #presention {
        background-size: 36%;
        background-position: 17%, 83%;
    }
    .contact-info-cont p {
        width: 300px;
        text-align: left;
        margin: 0;
    }
}

@media(max-width: 1300px) {
    #presention {
        background-size: 37%;
        background-position: 17%, 83%;
    }
    .w-trailer {
        text-align: center;
        margin-top: 50%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 50%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 95%;
        font-size: 800%;
        overflow-y: hidden;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
    .contact-info-cont p {
        width: 250px;
        text-align: left;
        margin: 0;
    }
}

@media(max-width: 1200px) {
    #presention {
        background-size: 38%;
        background-position: 0%, 100%;
    }
    #tab-content {
        margin: 10rem 2rem 10rem 2rem;
    }
    .article {
        margin: 2rem;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .wrapper {
        margin: 0;
    }
    .social-media-btn {
        font-size: 75%;
    }
    .social-link {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .w-trailer {
        text-align: center;
        margin-top: 55%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 55%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 100%;
        font-size: 800%;
        overflow-y: hidden;
    }
    .holding-image {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .holding-image img {
        max-height: 30rem;
        max-width: 30rem;
    }
    .holding-image h1 {
        margin: 0;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
    .contact-info-cont p {
        width: 200px;
        text-align: left;
        margin: 0;
    }
    #main-slider img {
        min-height: 70vh;
        max-height: 70vh;
    }
}

@media only screen and(max-width: 1100px) {
    .w-trailer {
        text-align: center;
        margin-top: 60%;
        margin-bottom: auto;
    }
    #first-quotes {
        text-align: end;
        margin-top: 60%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 105%;
        font-size: 800%;
        overflow-y: hidden;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
    .contact-info-cont p {
        width: 200px;
        text-align: left;
        margin: 0;
    }
}

@media(max-width: 992px) {
    #presention {
        margin: 1rem !important;
        display: flex;
        justify-content: space-around !important;
        align-items: center !important;
        margin: 0 !important;
        padding: 1rem !important;
    }
    .w-trailer {
        text-align: center !important;
        margin-top: 65% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 65% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 110% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
}

@media(max-width: 960px) {
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        text-align: justify;
    }
    .interruption {
        margin-right: 2rem;
    }
}

@media(max-width: 900px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 80% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 80% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 125%!important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
    .interruption {
        min-width: 15rem;
    }
}

@media(max-width:875px) {
    #presention {
        margin: 1rem !important;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding: 0 !important;
        background-image: url("../image/castle-ripped.jpg");
        background-size: 100%;
        background-position: center;
    }
}

@media(max-width: 800px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 90% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 90% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 135% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media only screen and (max-width: 768px) {
    #main-slider {
        max-height: 50vh;
    }
    .social-link {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: auto !important;
        grid-row-gap: 1rem;
    }
    #start-card {
        animation: slideInFromLeft 1s ease-in;
        -webkit-animation: slideInFromLeft 1s ease-in;
    }
    .presention-card {
        width: 100%;
    }
    #footer-second-row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 15px;
        margin-left: 30px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        flex: 1;
        padding: 0;
        min-height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon svg {
        margin-top: 14px;
    }
    #main-slider {
        margin-top: 5.5rem;
        overflow-y: hidden;
    }
    #main-slider img {
        min-height: 60vh;
        max-height: 60vh;
    }
    .column-order:nth-child(1) {
        order: 2;
    }
    .column-order:nth-child(2) {
        order: 1;
        margin-bottom: 1rem;
    }
    .w-trailer {
        text-align: center;
        margin-top: 60%;
        margin-bottom: auto;
    }
    .col-xxl-7.col-md-9 {
        height: 350px;
    }
    #first-quotes {
        text-align: end;
        margin-top: 60%;
        font-size: 800%;
    }
    #second-quotes {
        padding-left: 2rem;
        text-align: start;
        margin-top: 85%;
        font-size: 800%;
        overflow-y: hidden;
    }
    #footer-first-row,
    #footer-second-row {
        margin: 1rem;
    }
    .footer-send-btn-pstn {
        display: grid;
        grid-template-columns: 1fr;
    }
    #footer-logo img {
        display: block;
        margin: auto;
        height: 90px;
        width: 90px;
    }
    .contact-info-cont p {
        width: 300px;
        text-align: left;
        margin: 0;
    }
    .article {
        margin: 1rem !important;
    }
    .cutom-modal {
        margin-top: 300px;
    }
    .holding-image {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2, 1fr);
    }
    .holding-image img {
        max-height: 200px !important;
        max-width: 200px !important;
    }
    .holding-image h1 {
        margin: 0;
    }
    #contents {
        padding: 1rem;
        height: 0;
    }
    #tab-content {
        margin: 1rem;
        max-height: 800px;
    }
    #tab-content .col-xxl-7 {
        margin-top: 1rem;
    }
    #map {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 24rem;
        overflow-y: hidden;
    }
    #map svg {
        margin: 0;
        height: 24rem;
        width: 27.5rem;
        margin-left: -30px;
    }
    #africa-pop,
    #asia-pop,
    #oceania-pop,
    #europe-pop,
    #south-america-pop,
    #north-america-pop {
        top: 1%;
        right: 0%;
        bottom: 0;
        left: 11%;
    }
    #who-we-r {
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    #who-we-r .top {
        display: flex;
        flex-direction: column;
    }
    #who-we-r .top .title {
        margin-bottom: 1rem;
    }
    #who-we-r .top img {
        margin-left: -50px;
        margin: 0;
    }
    #who-we-r .mid {
        margin: 0;
        width: 100%;
    }
    #who-we-r .mid p {
        display: flex;
        justify-content: center;
        width: auto;
        text-indent: 2rem;
        text-align: justify;
        text-justify: inter-word;
    }
    .interruption {
        min-width: 5rem;
        right: 10%;
    }
    #who-we-r .bottom {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #who-we-r .bottom .reach-us {
        margin: 1rem 0 1rem 0;
        order: 2;
        text-align: center;
    }
    #who-we-r .bottom .sponsors {
        order: 1;
    }
    .owl-carousel .owl-item {
        max-height: 80px;
    }
    .owl-carousel .item {
        display: flex;
        align-items: center;
        max-height: 5rem;
        min-height: 5rem;
    }
    .owl-carousel .item img {
        margin: auto;
        max-height: 5rem;
        max-width: 5rem;
    }
    .owl-stage-outer {
        max-height: 80px;
    }
    .owl-stage {
        max-height: 80px;
    }
}

@media(max-width: 700px) {
    .w-trailer {
        text-align: center !important;
        margin-top: 100% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 100% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 145% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}

@media(max-width: 600px) {
    #presention {
        margin: 1rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 0 !important;
        background-image: url("../image/castle-ripped.jpg"), url("../image/discovery-ripped.jpg");
        background-size: 100%;
        background-position: 30% 15%, 30% 85%;
    }
    .presention-card {
        width: 100%;
    }
    .article {
        margin: 2rem 2rem 0 2rem;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .w-trailer {
        text-align: center !important;
        margin-top: 160% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        text-align: end !important;
        margin-top: 160% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 400% !important;
        margin-left: -30%;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
    .general-word img {
        margin-top: 60%;
    }
}

@media (max-width:576px) {
    .social-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px) and (min-width:500px) {
    .w-trailer {
        overflow-y: hidden !important;
        text-align: center !important;
        margin-top: 200% !important;
        margin-bottom: auto !important;
    }
    #first-quotes {
        overflow-y: hidden !important;
        text-align: end !important;
        margin-top: 120% !important;
        font-size: 800% !important;
    }
    #second-quotes {
        overflow-y: hidden !important;
        padding-left: 2rem !important;
        text-align: start !important;
        margin-top: 165% !important;
        font-size: 800% !important;
        overflow-y: hidden !important;
    }
}